{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Flasky - Registros{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>{{ nombre_trabajador }}</h1>
    <p>Los registros de fichaje de entrada y salida de este trabajador.</p>
</div>
<div class="container">
    {% if registros_irregulares|length == 0 and registros_correctos|length == 0 %}
        <div class="alert alert-success">Este empleado no ha realizado ningún registro registros</div>
    {% else %}
    
        <h2>Irregulares</h2>
        {% if registros_irregulares|length == 0 %}
            <div class="alert alert-info">No se encontraron registros irregulares</div>
        {% else %}
            {% set registros = registros_irregulares %}
            {% include "lists/table_registros.html" %}
        {% endif %}
        
        <h2>Correctos</h2>
        {% if registros_correctos|length == 0 %}
            <div class="alert alert-info">No se encontraron registros correctos</div>
        {% else %}
            {% set registros = registros_correctos %}
            {% include "lists/table_registros.html" %}
        {% endif %}

    {% endif %}
</div>
{% endblock %}