<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover w-100">
        <thead class="">
            <tr>
                <th>Día</th>
                <th>Entrada</th>
                <th>Salida</th>
            </tr>
        </thead>
        <tbody>
            {% for registro in registros %}
                <tr>
                    <td>{{ registro.fecha_str }}</td>
                    <td>{{ registro.hora_entrada_str }}</td>
                    <td>{{ registro.hora_salida_str }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
