<div class="card mb-4">
    <div class="card-header">
        <h5 class="card-title">{{ empleado.nombre }}</h5>
    </div>
    <div class="card-body">
        <tr>
            <td>{{ empleado.id }}</td>
            <td>{{ empleado.nif }}</td>
            <td>{{ empleado.nombre }}</td>
            <td>{{ empleado.telefono }}</td>
            <td>{{ empleado.username }}</td>
            <td>{{ empleado.rol.nombre }}</td>
            <td><a href="{{ url_for('admin_editar_empleado', id=empleado.id) }}" class="btn btn-warning">Editar</a></td>
            <td><a href="{{ url_for('admin_dardebaja_empleado', id=empleado.id) }}" class="btn btn-danger">Dar de baja</a></td>
        </tr>
    </div>
</div>
