{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Flasky - Home{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Empleados</h1>
</div>
<div class="container">
    <a href="{{ url_for('admin_agregar_empleado') }}" class="btn btn-primary">Agregar empleado</a>

    {{% if len(empleados_activos) == 0 and len(empleados_debaja) == 0 %}}
        <div class="alert alert-info">No hay empleados</div>
    {% else %}
    
        <h2>Activos</h2>
        {{% if len(empleados_activos) == 0 %}}
            <div class="alert alert-info">No hay empleados activos</div>
        {% else %}
            {% include "table_empleados.html" with empleados=empleados_activos %}
        {% endif %}
        
        <h2>De baja</h2>
        {{% if len(empleados_activos) == 0 %}}
            <div class="alert alert-info">No hay empleados de baja</div>
        {% else %}
            {% include "table_empleados.html" with empleados=empleados_debaja %}
        {% endif %}

    {% endif %}
</div>
{% endblock %}